h1,
h2,
h3,
p,
span
{

}

body
{
   margin: 0;
}

header
{
   width: auto;
   background: mistyrose;
   text-align: center;
}

.player-profiles
{
   margin: 0 auto;
   height: auto;
   padding-top: 30px;
   max-width: 1400px;
}

.player-profiles h3
{
   margin-bottom: 0;
   font-size: 1.2em;
}

.player1
{
   width: 33%;
   max-height: 150px;
   display: inline-block;
   text-align: center;
}

.player2
{
   width: 33%;
   max-height: 150px;
   display: inline-block;
   text-align: center;
}

.player-icon-container
{
   width: 101px;
   height: 101px;
   text-align: center;
   display: block;
   margin: 0 auto;
}

#player1-icon,
#player2-icon
{
   width: 100px;
   height: 100px;
   display: block;
}

.title
{
   width: 33%;
   text-align: center;
   display: inline-block;
}

.game-screen-container
{
   max-width: 1200px;
   margin: 30px auto;
   text-align: center;
}

.player-turn
{
   padding-bottom: 30px;
}

.player-turn > h2
{
   margin-top: 0;
   padding-top: 20px;
}

.game-board
{
   width: 100%;
   height: 600px;
   margin: 0 auto;
   display: block;
   font-size: 0;
   -webkitbox-sizing: border-box;
   -mozbox-sizing: border-box;
   box-sizing: border-box;
}

.grid-squares
{
   height: 33.33%;
   width: 33%;
   border: 10px solid #00ffd0;
   display: inline-block;
   vertical-align: top;
   -webkitbox-sizing: border-box;
   -mozbox-sizing: border-box;
   box-sizing: border-box;
}

.player-img
{
   object-fit: cover;
   width: 90%;
   height: 100%;
   cursor: not-allowed;
}

footer
{
   width: auto;
   background: tomato;
}
